<!DOCTYPE html>
<html>
<head>
      <title>MAIN LOGIN PAGE</title>
<style>
a {
    margin: 15px;
    padding: 25px;
    border: 5px solid #000000;
    height: auto;
    width: auto;
    float:left;
    text-align: center;
}
</style>
</head>


</head>

<body>
  <h1>WELCOME<h1>

  <a href="http://websismit.manipal.edu/websis/control/main">
  <img src="/home/user/final_prj/static/img/manipal" alt="Manipal University" style="width:128px;height=128px;">
  </a>

  <a href="https://www.hackerearth.com/login/?next=/">
  <img src="/home/user/final_prj/static/img/hackerearth" alt="Manipal University" style="width:128px;height=128px;">
  </a>

</body>
</html>
